[Unit]
Description=kafka_zk
After=network.target

[Service]
WorkingDirectory={{kafka_zk_home}}
User=kafka
Group=kafka
ExecStart={{kafka_zk_start}}

TimeoutSec=50

Restart=always
RestartSec=30
StartLimitInterval=30
StartLimitBurst=1

[Install]
WantedBy=multi-user.target

