#!/bin/sh
{% if kafka_zk -%}
	ZOO="{{kafka_zk}}"
{% else -%}
	ZOO="localhost:2181"
{% endif %}

if [ $# -eq 0 ]; then
	echo "USAGE: $0 <topic>"
	exit 0
fi

bin/kafka-topics.sh --zookeeper $ZOO --delete --topic $1

